.parent1 {
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.child1 {
  font-size: 60px;
  background: white;
}

.inputify {
  background: transparent;
  width: 60vw;
  height: 40px;

  border-radius: 16px;

  font-size: large;
  padding-left: 8px;
}
.parent2 {
  background: transparent;
  display: flex;
  margin: 10px;
  width: 60vw;
}

.btnchild {
  flex: 1;
  margin-right: 4px;
}

.btnify {
  width: 100%;
  height: 32px;
  border-radius: 8px;
}

.g1 {
  color: green;
}
.o {
  color: tomato;
}

.o1 {
  color: gold;
}

.l {
  color: indigo;
}
.e {
  color: royalblue;
}
